.UserForm{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
}

.UserBtn {
  margin-top: 30px;
}

.jumbotron {
  text-align: center;
  margin-top: 25px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0DCAF0;
  color: white;
  text-align: center;
}

.Buttons{
  
}

.bandBtn, .searchBtn, .musicianBtn {
  background-color: #0DCAF0;
  margin-bottom: auto;
} 

.Container{
  margin: 0;
  position: absolute;
  top: 30%;
  left: 20%;
}

.submit {
  background-color: #0DCAF0;
}

/* .navbar {
  background-color: #17A2B8;
} */